/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Whitney";
}
/* COMMON */
.container{
    width:70%;
    margin:auto;
    /* test */
    background-color: blue;
    height: 500px;
}
img{
    width:100%;
}
.col{
    float: left;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* TEXT AND TITLES */

/* BUTTONS */
.bottone{

}
/* HEADER */
header{
    height: 80 px;
    line-height: 80px;
}
.col-right, .col-left{
    width:10%;
    background-color: chartreuse;
}
.col-right a{
    text-align: right;
    text-decoration: none;
    color:white;

}
.col-center{
    text-align: center;
    width: 80%;
    background-color: coral;
}
/* NAV */
nav li{
    vertical-align: middle;
    display: inline-block;
    list-style: none;
    margin:0 20px;
    
}
nav a{
    color: white;
    text-decoration: none;
}
/* MAIN */
