/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Whitney";
}
/* COMMON */
.container{
    width:70%;
    margin:auto;
    /* test */
    background-color: blue;
    height: 500px;
}
img{
    width:100%;
}
.col{
    float: left;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* TEXT AND TITLES */

/* BUTTONS */

/* HEADER */
.col-right, .col-left{
    width:10%;
}
.col-center{
    text-align: center;
    width: 80%;
}
/* NAV */
nav li{
    vertical-align: middle;
    display: inline-block;
    list-style: none;
}
nav a{
    color: white;
    text-decoration: none;
}
/* MAIN */
